From the M5 Competition Guidelines:

File 1: “calendar.csv”
Contains informa&on about the dates the products are sold.

- date: The date in a “y-m-d” format.
- wm_yr_wk: The id of the week the date belongs to.
- weekday: The type of the day (Saturday, Sunday, ..., Friday).
- wday: The id of the weekday, star&ng from Saturday.
- month: The month of the date.
- year: The year of the date.
- event_name_1: If the date includes an event, the name of this event.
- event_type_1: If the date includes an event, the type of this event.
- event_name_2: If the date includes a second event, the name of this event.
- event_type_2: If the date includes a second event, the type of this event.
- snap_CA, snap_TX, and snap_WI: A binary variable (0 or 1) indica&ng whether the stores of CA, TX or WI allow SNAP3 purchases on the examined date. 1 indicates that SNAP purchases are allowed.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import yaml

In [7]:
os.chdir('/Users/ksharma/Documents/ML Engineer/Machine Learning/Projects/Walmart Forecasting/')

In [8]:
from src.load_data.data import load_config

In [9]:
#Import config file from repo
CONFIG_PATH = '/Users/ksharma/Documents/ML Engineer/Machine Learning/Projects/Walmart Forecasting/'

config = load_config("config.yaml", CONFIG_PATH)

In [18]:
dtypes= {'weekday': 'category',
         'wday': 'category',
         'month': 'category',
         'year': 'category',
         'snap_CA': 'bool',
         'snap_TX': 'bool',
         'snap_WI': 'bool'}

In [19]:
#Load data
rawData= pd.read_csv(config['paths']['rawData'] + '/calendar.csv', date_parser= 'date', dtype= dtypes)

**Preview Data**

In [20]:
display(rawData.shape)
display(rawData.head())

(1969, 14)

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,False,False,False
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,False,False,False
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,False,False,False
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,True,True,False
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,True,False,True

**Data Overview**

In [22]:
rawData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1969 non-null   object
 1   wm_yr_wk      1969 non-null   int64
 2   weekday       1969 non-null   category
 3   wday          1969 non-null   category
 4   month         1969 non-null   category
 5   year          1969 non-null   category
 6   d             1969 non-null   object
 7   event_name_1  162 non-null    object
 8   event_type_1  162 non-null    object
 9   event_name_2  5 non-null      object
 10  event_type_2  5 non-null      object
 11  snap_CA       1969 non-null   bool
 12  snap_TX       1969 non-null   bool
 13  snap_WI       1969 non-null   bool
dtypes: bool(3), category(4), int64(1), object(6)
memory usage: 122.1+ KB

In [17]:
rawData.describe()

,wm_yr_wk,wday,month,year,snap_CA,snap_TX,snap_WI
count,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000
mean,11347.086338,3.997461,6.325546,2013.288471,0.330117,0.330117,0.330117
std,155.277043,2.001141,3.416864,1.580198,0.470374,0.470374,0.470374
min,11101.000000,1.000000,1.000000,2011.000000,0.000000,0.000000,0.000000
25%,11219.000000,2.000000,3.000000,2012.000000,0.000000,0.000000,0.000000
50%,11337.000000,4.000000,6.000000,2013.000000,0.000000,0.000000,0.000000
75%,11502.000000,6.000000,9.000000,2015.000000,1.000000,1.000000,1.000000
max,11621.000000,7.000000,12.000000,2016.000000,1.000000,1.000000,1.000000

In [24]:
rawData['wm_yr_wk'].value_counts()

11101    7
11429    7
11435    7
11434    7
11433    7
        ..
11249    7
11250    7
11251    7
11252    7
11621    2
Name: wm_yr_wk, Length: 282, dtype: int64