From the M5 Competition Guidelines:

File 2: “sell_prices.csv”
Contains information about the price of the products sold per store and date.
- store_id: The id of the store where the product is sold.
- item_id: The id of the product.
- wm_yr_wk: The id of the week.
- sell_price: The price of the product for the given week/store. The price is provided per week (average across seven days). 
    - If not available, this means that the product was not sold during the examined week. 
    - Note that although prices are constant at weekly basis, they may change through &me (both training and test set).

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import yaml

In [2]:
os.chdir('/Users/ksharma/Documents/ML Engineer/Machine Learning/Projects/Walmart Forecasting/')

In [3]:
from src.load_data.data import load_config

In [4]:
#Import config file from repo
CONFIG_PATH = '/Users/ksharma/Documents/ML Engineer/Machine Learning/Projects/Walmart Forecasting/'

config = load_config("config.yaml", CONFIG_PATH)

In [18]:
dtypes= {}

In [6]:
#Load data
rawData= pd.read_csv(config['paths']['rawData'] + '/sell_prices.csv')#, date_parser= 'date', dtype= dtypes)

**Preview Data**

In [7]:
display(rawData.shape)
display(rawData.head())

(6841121, 4)

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

**Data Overview**

In [8]:
rawData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6841121 entries, 0 to 6841120
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   store_id    object
 1   item_id     object
 2   wm_yr_wk    int64
 3   sell_price  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 208.8+ MB

In [9]:
rawData.describe()

           wm_yr_wk    sell_price
count  6.841121e+06  6.841121e+06
mean   1.138294e+04  4.410952e+00
std    1.486100e+02  3.408814e+00
min    1.110100e+04  1.000000e-02
25%    1.124700e+04  2.180000e+00
50%    1.141100e+04  3.470000e+00
75%    1.151700e+04  5.840000e+00
max    1.162100e+04  1.073200e+02